html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(/assets/images/bm_background.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  background-color: black;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  text-align: center;
  font-size: 7rem;
  font-family: 'Butcherman', cursive;
  color: red;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

a {
  color: rgb(200, 200, 200);
}

a:hover {
  color: white;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  background-color: black;
  text-align: center;
}

.btn {
  margin:5px;
}

/* Large devices (desktops, less than 1200px) */

@media screen and (max-width: 1199.98px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size:1.2rem;
  }
}

/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size:1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 3rem;
  }

}

/* Extra small devices (portrait phones, less than 576px) */

@media screen and (max-width: 575.98px) {
  h1 {
    font-size: 2rem;
  }
}

/* Tiny devices */

@media screen and (max-width: 420px) {
  a {
    font-size: .75rem;
}
}